<!DOCTYPE html>
<html lang="en">
<head>
    <javascript src="/site_media/js-css/jquery/jquery-1.7.2.min.js"></javascript>
    <javascript src="/site_media/js-css/bootstrap/js/bootstrap.js"></javascript>
    <link href="/site_media/js-css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<br>
<a href="/blog/shuo"><center>回到从前</center></a>
<br>
<table class="table table-responsive">
        <tr>
            <th>时间</th>
            <th>作者</th>
            <th>词牌名</th>
            <th>小坠</th>
            <th>内容</th>
            <th>是否以前</th>
            <th>ID</th>
        </tr>
    {% for post in posts %}
        <tr>
      <td>{{ post.timestamp }}</td>
           <td>{{ user }}</td>
           <td>{{ post.title }}</td>
            <td>{{ post.nav }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.isprevious }}</td>
            <td>{{ post.id }}</td>
            <td><a href="/blog/Post/Poem/edit/?aid={{ post.id }}&p={{ number }}">修改</a></td>
           <td><a href="/blog/Post/Poem/edit/?id={{ post.id }}">删除</a></td>
        </tr>
{% endfor%}


</table>
</body>
</html>