<!DOCTYPE html>
<html lang="en">
<head>
    <javascript src="/site_media/js-css/jquery/jquery-1.7.2.min.js"></javascript>
    <javascript src="/site_media/js-css/bootstrap/js/bootstrap.js"></javascript>
    <link href="/site_media/js-css/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<br>
<a href="/blog/index"><center>回到从前</center></a>
<br>
<table class="table table-responsive">
        <tr>
            <th>注册时间</th>
            <th>姓名</th>
            <th>密码</th>
            <th>邮箱</th>
            <th>ID</th>
        </tr>
    {% for post in posts %}
        <tr>
      <td>{{ post.timestamp }}</td>
           <td>{{ post.username }}</td>
            <td>{{ post.password }}</td>
            <td>{{ post.email }}</td>
            <td>{{ post.id }}</td>
           <td><a href="/blog/Post/User/edit/?id={{ post.id }}">删除用户</a></td>
        </tr>
{% endfor%}


</table>
</body>
</html>