<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>诗情画意-个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="/site_media/css/index.css"/>
<link rel="stylesheet" href="/site_media/css/style.css"/>
<script type="text/javascript" src="/site_media/js/jquery1.42.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="/site_media/js/html5.js"></script>
<![endif]-->
</head>

<body>
    <!--header start-->
    <div id="header">
      <h1>博客</h1>
      <p>青春是打开了,就合不上的书。人生是踏上了，就回不了头的路，爱情是扔出了，就收不回的赌注。</p>    
	  <p>拉长每一分钟，在人生的轨道上，加速吧。</p> 
    </div>
     <!--header end-->
    <!--nav-->
     <div id="nav">
        <ul>
        <li><a href="/blog/index">首页</a></li>
         <li><a href="/blog/about">关于我</a></li>
         <li><a href="/blog/shuo">诗情画意</a></li>
          <li><a href="/blog/diandi">心情点滴</a></li>
         <li><a href="/blog/xc">相册（单身勿点！！）</a></li>
         <li><a href="/blog/learn">学无止境</a></li>
         <li><a href="/blog/guestbook">留言板</a></li>
         <div class="clear"></div>
        </ul>
      </div>
    <!--header end-->
    <!--content start-->
    <div id="say">
     <div class="weizi">
           <div class="wz_text">当前位置：<a href="#">首页</a>><h1>诗情画意</h1>
                {% if number > 1 %}
             <a href="/blog/shuo/?p={{ pre }}">上一页</a>
             {% endif %}

             <a href="/blog/shuo/?p={{ next }}">下一页</a>
           </div>
           </div>
            {% for poem in poems %}
                <ul class="say_box">
                 <div class="sy">
					 <div class="text" style=" text-align:center;">
                         <p> <h1>{{ poem.title}}</h1><br>
                            <h3>{{ poem.nav }}</h3>
                     -----------------------------------------<br>
                          {% for po in poem.k %}
                            {{ po }}<br>
                              {% endfor %}
            </p>
                     </div>
					 </div>
                {% if poem.isprevious %}
                    <span class="dateview">很久以前</span>
                {% else %}
                    <span class="dateview">{{ poem.timestamp }}</span>
                {% endif %}

            </ul>
         {% endfor%}

     </div>
    <!--content end-->
    <!--footer-->
  <div id="footer">
     <p>Design by:<a href="http://bingning.wang" target="_blank">王炳宁</a> 2015-09-19</p>
    </div>
    <!--footer end-->
    <script type="text/javascript">jQuery(".lanmubox").slide({easing:"easeOutBounce",delayTime:400});</script>
    <script  type="text/javascript" src="/site_media/js/nav.js"></script>
</body>
</html>